<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-float-end text-right">
          <ion-img src="assets/menu-icon.svg" class="ion-float-right" style="width: 30px;"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mx-4 mt-2 main-info">
    <ion-row>
      <ion-col size="3">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22" class="profile-picture">
      </ion-col>
      <ion-col size="8" offset="1">
        <div class="user-info">
          <h4 class="user-name">Michael Equi</h4>
          <p class="user-tag">@michaelequi</p>
        </div>
      </ion-col>
      <ion-col size="12" class="bio mt-2">
        Avid AI Developer. JHS 20
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="stats my-3">
    <ion-row class="my-4">
      <ion-col>
        <p class="number">10</p>
        <p class="label">Posts</p>
      </ion-col>
      <ion-col>
        <p class="number">95.2k</p>
        <p class="label">Followers</p>
      </ion-col>
      <ion-col>
        <p class="number">763</p>
        <p class="label">Following</p>
      </ion-col>
    </ion-row>
  </ion-card>

   <ion-button class="edit-profile mx-3" fill="clear" expand="full" size="large">
    Edit Profile
  </ion-button>
</ion-content>
