.post {
  .user-profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .question-card {
    ion-card-subtitle {
      font-weight: 300 !important;
      text-transform: lowercase !important;
    }
    .question-labels {
      font-weight: 300 !important;
      text-transform: none !important;
      .question {

      }
      .user {

      }
    }
    .answer-button {
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      background: linear-gradient(352.05deg, #FF7676 0%, #F54EA2 100%);
      border-radius: 8px;
      color: white;
      padding: 12px 12px 12px 12px !important;
    }
    .card-footer {
      .icon-adjust {
        position: relative;
        top: 3px
      }
      background-color: transparent;
      border-top: 0;
    }
  }
  .comment {
    .comment-text {
      color: #3E3E3E;
      font-weight: normal;
      margin: 0;
    }
    .comment-user {
      font-size: 12px;
      font-weight: normal;
      color: #BEC2CE;
    }
  }
  .user-input {
    ion-input {
      --background: #f3f3f3 !important;
      --padding-start: 10px;
      --padding-end: 10px;
      border-radius: 20px !important;
    }
    ion-button {
      line-height: 100% !important;
    }
  }
}
