.register > * {
  margin-top: 16px;
}

ion-card {
  --ion-color-base: #fff !important;
}

ion-input {
  background: #f4f4f4;
  border-radius: 20px;
  text-align: left;
  padding-left: 15px !important;
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

ion-back-button {
  --color: white;
}

.submit-button {
  border-radius: 20px;
  color: white;
  width: 100%;
  margin-bottom: 16px;
}

button:disabled {
  background: lightgrey !important;
}

.error-message {
  text-align: left;
  margin-left: 8px !important;
  margin-top: 4px !important;
  color: red;
  font-size: 10px;
}

.validation-errors {
  margin-top: 0 !important;
}

ion-label {
  position: relative;
  bottom: 8px;
}
