<ion-header>
  <ion-toolbar>
    <ion-title class="page-title text-uppercase text-center">
      Spill The Tea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="post">
    <ion-card class="question-card" style="margin: 0; margin-bottom: 24px;">
      <ion-card-header class="question-labels">
        <ion-card-title class="mb-1 question">What's your favorite movie?</ion-card-title>
        <ion-row>
          <ion-col size="2">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22" class="user-profile">
          </ion-col>
          <ion-col>
            <div style="line-height: 40px;">
              <ion-card-subtitle class="user float-left">@michaelequi</ion-card-subtitle>
              <ion-card-subtitle class="user float-right">12 Hours</ion-card-subtitle>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content style="padding-top: 0 !important;">
        <ion-button class="answer-button" fill="clear" expand="full" size="large" style="font-weight: bold;">Respond Anonymously</ion-button>
      </ion-card-content>
      <ion-row class="card-footer mx-2 mb-1" align-items-baseline justify-content-center>
        <ion-col size="3">
          <ion-icon name="heart-empty" class="icon-adjust mr-2"></ion-icon>
          <p class="d-inline">123</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="text" class="icon-adjust mr-2"></ion-icon>
          <p class="d-inline">123</p>
        </ion-col>
        <ion-col size="4" offset="1" class="text-right">
          <ion-icon name="share-alt" class="icon-adjust mr-2"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row align-items-center class="mx-3 comment">
      <ion-col size="2">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22" class="user-profile">
      </ion-col>
      <ion-col size="9">
        <div class="mt-3">
          <p class="comment-text">Great Question!</p>
          <p class="comment-user">@JulianaKristner</p>
        </div>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="heart-empty" class="like"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="mx-1 mb-3 user-input">
      <ion-col size="9">
        <ion-input placeholder="Enter Input" class="comment-input"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button class="my-0">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
