ion-icon {
  // fill: black;
  --color-selected: black;
  --color: black;
}

ion-tab-button {
  --color-selected: black;
}

ion-fab-button {
  --background: linear-gradient(141.75deg, #17EAD9 0.72%, #6078EA 100%) !important;
  --background-activated: linear-gradient(141.75deg, #17EAD9 0.72%, #6078EA 100%) !important;
}
