<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card class="welcome-card" style="margin: 0; margin-bottom: 24px;">
      <ion-card-header>
        <ion-card-title>What's your favorite movie?</ion-card-title>
        <ion-card-subtitle>@michaelequi</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button class="answer" fill="clear" expand="full" size="large">Respond Anonymously</ion-button>
      </ion-card-content>
      <ion-row class="cardfooter" align-items-baseline justify-content-center>
        <ion-col size="3">
          <ion-button fill="clear" color="dark">
            <ion-icon name="heart-empty"></ion-icon>
            <p>123</p>
          </ion-button>
        </ion-col>
        <ion-col size="3">
            <ion-button fill="clear" color="dark">
              <ion-icon name="text"></ion-icon> 
              <p>123</p>
            </ion-button>
        </ion-col>
        <ion-col size="3" offset="3">
          <ion-button fill="clear" color="dark">
            <ion-icon name="share-alt"></ion-icon> 
            <p>123</p>
          </ion-button>      
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row align-items-center>
      <ion-col size="2">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22" style="margin: ">
      </ion-col>
      <ion-col size="8">
        <p style="font-weight: bold; margin: 0;">Great Question!</p>
        <p style="">@JulianaKristner</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
