.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.answer {
  font-family: Nunito;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(352.05deg, #FF7676 0%, #F54EA2 100%);
  border-radius: 8px;
  color: white;
  padding: 12px 12px 12px 12px !important;
}