<ion-header>
</ion-header>


<ion-grid class="ion-margin-top mt-3">
  <ion-row class="ion-margin-bottom">
    <ion-col size="1">
    </ion-col>
    <ion-col text-center>
      <img src="/assets\splash\Logo.svg" class="logo" complete>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      <img src="/assets\splash\Text.svg">
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col text-center>
        <ion-button class="ion-margin-top login mx-2" size="large" fill="clear" expand="full" routerLink="login">Log In</ion-button>
    </ion-col>
    <ion-col size="1">
    </ion-col>

  </ion-row>
</ion-grid>
<ion-text text-center>
  <p>Don't have an account?
  <a routerLink="register">Sign Up</a>
</ion-text>
