// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

 @import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap');

.gradient-1 {
  background: linear-gradient(141.34deg, #FCE38A 0%, #F38181 100%) !important;
}

.gradient-2 {
  background: linear-gradient(321.34deg, #FF7676 0%, #F54EA2 100%) !important;
}

.gradient-3 {
  background: linear-gradient(141.75deg, #17EAD9 0.72%, #6078EA 100%) !important;
}
